<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="CartDo">
    <resultMap id="BaseResultMap" type="CartDo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="sku_id" property="skuId" jdbcType="INTEGER"/>
        <result column="count" property="count" jdbcType="INTEGER"/>
        <result column="checked" property="checked" jdbcType="TINYINT"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, sku_id, count,checked, create_date,update_date
    </sql>
    <sql id="criteria">
        <where>
            <if test="userId != null">AND user_id=#{userId}</if>
            <if test="skuId != null">AND sku_id=#{skuId}</if>
        </where>
    </sql>
    <sql id="table_name">cart</sql>
    <select id="list" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        <include refid="criteria"/>
    </select>
    <select id="findByUniqueIndex" parameterType="map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="table_name"/>
        <include refid="criteria"/>
    </select>
    <delete id="deletesBycondition" parameterType="map">
        delete from
        <include refid="table_name"/>
        <include refid="criteria"/>
    </delete>
    <insert id="creates">
        insert into
        <include refid="table_name"/>
        (user_id, sku_id, count,checked, create_date,update_date) values
        <foreach item="item" collection="list" separator=",">
            (#{item.userId}, #{item.skuId}, #{item.count}, #{item.checked}, #{item.createDate}, #{item.updateDate})
        </foreach>
    </insert>
    <insert id="create" parameterType="CartDo">
        insert into
        <include refid="table_name"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test=" userId != null">
                user_id,
            </if>
            <if test=" skuId != null">
                sku_id,
            </if>
            <if test=" count != null">
                count,
            </if>
            <if test=" checked != null">
                checked,
            </if>
            <if test=" create_date != null">
                create_date,
            </if>
            <if test=" update_date != null">
                update_date,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="skuId != null">
                #{skuId,jdbcType=BIGINT},
            </if>
            <if test="count != null">
                #{count,jdbcType=Integer},
            </if>
            <if test="checked != null">
                #{checked,jdbcType=Integer},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateDate != null">
                #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="CartDo">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="id != null">`id` = #{id},</if>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="count != null">`count` = #{count},</if>
            <if test="checked != null">`checked` = #{checked},</if>
            <if test="createDate != null">`create_date` = #{createDate},</if>
            <if test="updateDate != null">`update_date` = #{updateDate},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from
        <include refid="table_name"/>
        WHERE id = #{id}
    </delete>
</mapper>
